
.activityAppLauncher_text {
	text-align: center;
	border: 0px;
	margin: 0px;
	padding: 0px;
}

.activityAppLauncher_element {
	padding: 5px;
	border-radius: 0.3em;}
.activityAppLauncher_element:selected {
	background-color: rgba(16,16,16,0.5);
}
	
