
.activityAppLauncher_text {
	text-align: center;
	border: 0px;
	margin: 0px;
	padding: 4px 0px 4px 0px;
	font-size: 110%;
}

.activityAppLauncher_element {
	padding: 10px;
	border-radius: 0.5em;}

.activityAppLauncher_element:selected {
	background-color: rgba(192,192,192,0.25);
}
